<center><h1 class="mt-3">Tickets</h1></center>
<table class="table caption-top">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">User Id</th>
      <th scope="col">Bus Id</th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%=link_to ticket.id, ticket_path(ticket.id)%></td>
        <td><%=ticket.user_id%></td>
        <td><%=ticket.bus_id%></td>
      </tr>
    <% end %>
  </tbody>
</table>
