<center><h1 class="mt-3">Tickets</h1></center>
<table class="table caption-top">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Seat.No</th>

    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <th scope="row"><%=ticket.id%></th>
        <th scope="row"><%=ticket.seat%></th>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Ticket", new_ticket_path, class: :"btn btn-primary me-md-2" %>